{% extends 'base.html.twig' %}

{% block recepten %}
    {{ parent() }}
    <h1>Ijsrecept index</h1>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Naam</th>
                <th>Recept</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ijsrecept in ijsrecepts %}
            <tr>
                <td><img src="" alt="Afbeelding"></td>
                <td>{{ ijsrecept.naam }}</td>
                <td>{{ ijsrecept.recept }}</td>
                <td>
                    <a class="btn btn-outline-success" href="{{ path('admin_ijsrecept_show', {'id': ijsrecept.id}) }}">show</a>
                    <a class="btn btn-outline-warning" href="{{ path('admin_ijsrecept_edit', {'id': ijsrecept.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Geen recepten gevonden</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_ijsrecept_new') }}">Create new</a>
{% endblock %}
